
{% extends 'core/base.html' %}
{% load static %}
 {% block content %} 
 
 <div class="col-sm-9 mb-5">
<form action="" method="post" novalidate>
 {% csrf_token %}
  {% if form.non_field_errors %}
   {% for error in form.non_field_errors %}
    <p class="er">{{error}}</p>
   {% endfor %}
  {% endif %}

<div class="container col-sm-10 mt-5 text-sucess">
                
       {% for fm in form %}

           <div class="text-white ">      
                     <p class="mb-auto mr-5">{{ fm.label_tag }}
                    <span class="ml-5 mb-auto mr-5 "> {{ fm}}</span>
                   <span class="text-right ml-2" >{{fm.errors|striptags}}</span>  </p> 
                </div>      
            
        {% endfor %}
 

    <input type="submit" value="Submit" class="btn btn-outline-info my-3">
     <a href="{% url 'login' %}" class="btn btn-outline-info my-3">Login</a>
</form>
            
        {% if messages %}
        {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}}" {% endif %}> {{message}} </small>
        {% endfor %}
        {% endif %}
        
        {% endblock content  %}
 </div>
</div>  
