
  {% extends 'core/base.html' %}
  {% load static %}
{% block content %}

 <form action="" method="POST" novalidate>
  {% csrf_token %}
 <!-- {% if form.non_field_errors %}
   {% for error in form.non_field_errors %}
    <p class="er">{{error}}</p>   

   {% endfor %}
  {% endif %} -->
  
  <div class="container mt-5">
    
     
         
     <!--<spam class="text-primary">  {{fm.label_tag}}</spam>
     {{fm}}  {{fm.errors|striptags}}<br> -->
      <h2>Login</h2>

    <p class="text-color-red">{{  form.non_field_errors }}</p>
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
    </div>
    <div class="fieldWrapper">
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
    </div>
    <button class="btn btn-primary" type="submit" >Login</button>

</form>
      
  

 
  <a class=" btn btn-primary " href="{% url 'signup' %}">Signup</a>

</div>
{%  endblock content %}
